<li>
  <p name="messageContent">
    <%= text %>  
  </p>
  <p name="userName">
    <%= userName %> 
  </p>
  <p name="time">
    <%= time %> 
  </p>
  <% if(role == "admin"){ %>
    <p name="writerName">
      <%= writerName %> 
      </p>
      <p name="role">
      <%= role %> 
      </p>
      <a href=`/deleteMessage/${messageId}`> Delete Message </a>
      <% }%>
</li>
